NEXT_PUBLIC_SITE_URL=https://theappsense.com
WORDPRESS_GRAPHQL_ENDPOINT=http://theappsense-wp/graphql
WORDPRESS_GRAPHQL_HOST_HEADER=wp.theappsense.com
NEXT_PUBLIC_TAWK_PROPERTY_ID=66a568b032dca6db2cb69ea2
NEXT_PUBLIC_TAWK_WIDGET_ID=1i3r21sll
NEXT_PUBLIC_GTM_ID=
